<h3>{{ _('GPIO Fan Mirror') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('GPIO Pin') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" class="input-mini" data-bind="value: settings.plugins.gpiofan.pin">

                </div>
                <span class="help-block">{{ _('Pin number (BCM numbering)') }}</span>
                <span class="help-block">{{ _('See here for pin numbers)') }} <a href="https://pinout.xyz/">https://pinout.xyz/</a></span>
            </div>
        </div>
    </form>
</div>